:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

  body{
    background-color: var(--body-bg-color);
  }
    /*ir em novo terminal
    mudar para git bash
    comandos
    git config --global user.name "Mayara Martinello Bastos"
    git config --global user.email "maybastos2021@gmail.com"
    git config -l

    git init
    git add .
    git commit -m "Inicialização do projeto"
    git branch -M main
    git remote add origin https...
    git push -u origin main

cd desktop
copiar o code
git clone endereço copiado
    */
  