/*--------------------------------Cores e Estilo-------------------------------*/
:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body,
html {
  box-sizing: border-box;
  background-color: var(--body-bg-color);
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

#card-direita,
#card-esquerda,
.projetos-recentes1,
.projetos-recentes2 {
  background-color: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#card-direita,
#card-esquerda {
  margin: 5%; /*20px*/
  padding: 3.5%;
}

/*-----------------------------------Fontes e Links ------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

h1,
h2,
h3,
p,
a {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
  text-decoration: none;
}

li {
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: 700;
  margin: 5px;
}

p,
a {
  font-style: normal;
  font-weight: 400;
}

.redes-li a,
.perfil-topo-esquerda p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.experiencias-li h3,
.experiencias-li a,
.educacao-li h3,
.educacao-li a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.tecnologias-li a {
  font-weight: 700;
  color: black;
}

.experiencias-li p,
.educacao-li p,
.postagem-li a,
footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 5px;
  padding-left: 15px;
}

p {
  font-size: 14px;
  line-height: 20px;
  margin: 5px;
}

h1 {
  font-size: 23px;
  line-height: 29px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

h3,
.textoPostagem p {
  font-size: 16px;
  line-height: 20px;
}

/*-------------------------------------Template grid-------------------------------------*/
.principal {
  display: grid;
  grid-template-columns: 33vw 66vw;
  grid-template-areas:
    "lateral  main"
    "rodape rodape";
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

/*------------------------------------LATERAL ESQUERDA-----------------------------------*/

aside {
  grid-area: lateral;
  box-sizing: border-box;
  width: 33vw;
  min-width: 295px;
}

.caixa-lateral-esquerda,
#card-esquerda {
  box-sizing: border-box;
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  margin: 5%;
}

ul {
  list-style: none;
  padding: 0px;
}
/*----------------------------------------Card Perfil---------------------------------------*/
.perfil-topo-esquerda {
  width: 25vw;
  height: 30vh;
  min-width: 295px;
  min-height: 340px;
}

.fotoPerfil {
  width: 130px;
  height: 130px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
}

#fotoPerfil {
  border: 2px solid #00ff00;
}

/*-----------------------------------------Card Redes-----------------------------------------*/
.links-redes-esquerda {
  width: 25vw;
  height: 55vh;
  min-width: 295px;
  min-height: 360px;
}

.redes-ul {
  margin: 0px;
}
.redes-li {
  display: flex;
  align-items: center;
  padding: 4.5%;
}

.redes-img {
  padding-right: 20px;
  width: 24px;
  height: 24px;
}

/*-----------------------------------Card Tecnologias-----------------------------------*/

.tecnologias-esquerda {
  box-sizing: border-box;
  width: 25vw;
  height: 30vh;
  min-width: 295px;
  min-height: 250px;
  padding: 8% 0% 5% 0%;
}

.tecnologias-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tecnologias-li {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 2%;
  width: 85px;
  height: 25px;
  background-color: var(--bg-techs);
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/*-----------------------------------card Experiencia-----------------------------------*/

.experiencias-esquerda {
  box-sizing: border-box;
  width: 25vw;
  height: 60vh;
  min-width: 295px;
  min-height: 450px;
}

.div-ul-experiencias {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.experiencias-ul {
  margin: 6% 0% 6% 0%;
}

.experiencias-li {
  margin-bottom: 6%;
}

/*-----------------------------------card Educação-----------------------------------*/

.educacao-esquerda {
  box-sizing: border-box;
  width: 25vw;
  height: 60vh;
  min-width: 295px;
  min-height: 450px;
}

.div-ul-educacao {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.educacao-ul {
  margin: 6% 0% 6% 0%;
}
.educacao-li {
  margin-bottom: 6%;
}
/*--------------------------COLUNAS DIREITA - Main -------------------------*/

main {
  box-sizing: border-box;
  grid-area: main;
  width: 66vw;
  min-width: 600px;
}

.caixa-main {
  box-sizing: border-box;
  min-width: 600px;
}

/*------------------------------Card Meus Projetos------------------------------*/
.meus-projetos-direita {
  grid-area: meusprojetos;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 55vw;
  height: 5vh;
  min-width: 600px;
  min-height: 30px;
}

#verTodos {
  text-align: right;
}
/*-------------------------------Div Projetos Recentes -------------------------------*/

.caixa-projetos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 60vw;
  height: 30vh;
  min-width: 600px;
  padding: 0% 5%;
  margin: 0px;
}

/*-------------------------------Cards projetos recentes -------------------------------*/
.projetos-recentes1 {
  grid-area: projeto1;
  width: 50vw;
  min-width: 250px;
  padding: 5%;
  margin-right: 3%;
}

.projetos-recentes2 {
  grid-area: projeto2;
  width: 50vw;
  min-width: 250px;
  padding: 5%;
  margin-left: 3%;
}

.git-img,
.pasta-img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.div-gitstatus,
.star-branch,
.gitLinguagem,
.pasta-nome-projeto {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gitLinguagem {
  justify-content: right;
}

#ProjetoLag {
  text-align: right;
}

.div-gitstatus {
  margin-top: 10%;
}

.gitLinguagem {
  margin-left: 6%;
}

/*--------------------------Card Postagens Recentes--------------------------*/

.posts-recentes-direita {
  grid-area: recente;
  width: 55vw;
  height: 5vh;
  min-width: 600px;
  min-height: 30px;
}

/*-------------------------------Card Postagem-------------------------------*/

.postagem-direita {
  grid-area: post;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  min-width: 600px;
  min-height: 150px;
}

.postagem-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titulo-tempo-postagem {
  text-align: center;
  padding: 2.5% 0% 2.5% 0%;
}

.fotoPostagem,
.textoPostagem {
  margin: 0% 4%;
}

/*-------------------------------------RODAPE------------------------------------*/
footer {
  text-align: center;
  grid-area: rodape;
}
