/*cd desktop
copiar o code
git clone endereço copiado
    */

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

/*-----Cores------*/
:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  margin: 0px;
  background-color: var(--body-bg-color);
  width: 100vw;
  height: 100vh;
}

#card {
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin: 20px;
  
  
}

/*-----Fontes------*/
h1, h2, h3, p, a{
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
  text-decoration: none;
}

h1,h2,h3{
font-style: normal;
font-weight: 700;
}

p,a{
font-style: normal;
font-weight: 400;
}

p{
  font-size: 14px;
line-height: 20px;
}

h1{
  font-size: 23px;
line-height: 29px;
}

h2{
  font-size: 20px;
line-height: 25px;
}

h3{
  font-size: 16px;
line-height: 20px;
}



/*.caixa-principal {
  border: solid 1px orangered;
  display: grid;
  grid-template-columns: 450px 1fr 1fr;
  grid-template-areas:
  "lateral meusprojetos meusprojetos meusprojetos meusprojetos meusprojetos"
  "lateral projeto1 projeto1 projeto1 projeto2 projeto2"
  "lateral recente recente recente recente recente"
  "lateral post post post post post"
  "rodape rodape rodape rodape rodape rodape";
}*/

/*----- body grid-----*/
body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-areas:
  "lateral  main"
  "rodape rodape";
  gap: 20px;

}



/*------LATERAL-----*/

aside{
  grid-area: lateral;
  box-sizing: border-box;
}

.caixa-lateral-esquerda {
  box-sizing: border-box;
  border: solid 1px rgb(245, 26, 146);
  margin-left: 40px;
  
  
}
/*------Perfil-----*/
.perfil-topo-esquerda {
  width: 348px;
  height: 292px;
  display: flex; /*Propriedade de container*/
    align-items: center; /*Alinha no eixo y, propriedade de alinhamento*/
    justify-content: center; /*Alinha no eixo x, space-around deixa espaços entre, propriedade de alinhamento*/
    flex-direction: column;
    flex-wrap: wrap;
  
}

img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#fotoPerfil{
  border: 2px solid #00FF00;
}

/*-----Redes-----*/
.links-redes-esquerda {
  width: 348px;
  height: 348px;
  display: flex;
  align-items: center;
}

.redes-ul{
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
.redes-li{
  display: flex;
  align-items: center;
  padding: 10px;
}

.redes-img{
  padding-right: 20px;
  width: 24px;
height: 24px;
}

.tecnologias-esquerda {
  width: 348px;
  height: 208px;

}

.experiencias-esquerda {
  width: 348px;
  height: 349px;

}

.educacao-esquerda {
  width: 348px;
  height: 352px;
;
}

/*------COLUNAS DIREITA-----*/

main{
  grid-area: main;
  box-sizing: border-box;
}

.caixa-main {
  box-sizing: border-box;
  border: solid 1px rgb(72, 233, 8);
 margin-right: 40px;

}

/*.caixa-main{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "meusprojetos meusprojetos meusprojetos meusprojetos meusprojetos"
  "projeto1 projeto1 projeto1 projeto2 projeto2"
  "recente recente recente recente recente"
  "post post post post post";
  gap: 20px;
}*/

.meus-projetos-direita {
  grid-area: meusprojetos;
 

}

.projetos-recentes1 {
  grid-area: projeto1;


}

.projetos-recentes2 {
  grid-area: projeto2;
 


}

.posts-recentes-direita {
  grid-area: recente;


}

.postagem-direita {
  grid-area: post;

 


}

/*------RODAPE-----*/
footer {
  grid-area: rodape;
}
